.spacer {
  flex: 1 1 auto;
}

.app-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
.app-logo-container > img {
  width: 20px;
}

h2 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 5px;
}
