.spacer {
  flex: 1 1 auto;
}

.app-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
.app-logo-container > img {
  width: 20px;
  margin-right: 10px;
}
