:root {
  --color-primary: #273043;
  --color-primary-light: #495777;
  --color-accent: #558564;
  --color-text-light: #ededed;
  --color-text-dark: #101010;
}
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: var(--color-primary);
  color: var(--color-text-light);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
