:root {
  --color-primary: #273043;
  --color-accent: #558564;
}

html,
body {
  height: 100%;
  background-color: var(--color-primary);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
