:host() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - 76px);
  padding: 0 20px 35px 20px;
}

.welcome-arrow {
  position: absolute;
  right: 25px;
  top: 50px;
  animation: welcome 700ms ease-in-out alternate infinite;
}

@keyframes welcome {
  from {
    top: 65px;
  }

  to {
    top: 80px;
  }
}
